@namespace NodeService.WebServer.UI.Pages.Notifications.Configure
@page "/Notifications/Configure"
@inject ApiService ApiService
@inject NotificationService _notice
@inject ConfirmService _confirmService
@inject NavigationManager NavigationManager
<GridContent>
    <Modal Width="800"
           Style="top:0"
           Title="@_modalTitle"
           @bind-Visible="@_editFormVisible"
           ConfirmLoading="@_editFormConfirmLoading"
           OnOk="@HandleEditFormOk"
           OnCancel="@HandleEditFormCancel">
        <Form Model="@_editModel" Size="@AntSizeLDSType.Default"
              LabelColSpan="4"
              Layout="@FormLayout.Horizontal"
              WrapperColSpan="20"
              OnFinish="OnEditFormFinish"
              OnFinishFailed="OnEditFormFinishFailed"
              @ref="@_editForm">
            <FormItem Label="配置名称">
                <Input @bind-Value="@context.Name"/>
            </FormItem>
            <FormItem Label="启动">
                <Switch @bind-Value="@context.IsEnabled"/>
            </FormItem>
            <FormItem Label="配置类型">
                <Select DataSource="@_types"
                        Value="@_editModel.ConfigurationType"
                        TItem="NotificationConfigurationTypeModel"
                        TItemValue="NotificationConfigurationType"
                        ValueChanged="OnSelectedConfigurationTypeChanged"
                        LabelName="@nameof(NotificationConfigurationTypeModel.Name)"
                        ValueName="@nameof(NotificationConfigurationTypeModel.Type)">
                </Select>
            </FormItem>
            @switch (_editModel.ConfigurationType)
            {
                case NotificationConfigurationType.Email:
                    <EmailNotification Configuration="@(context.Value.GetCurrentOptions<EmailNotificationOptions>())"/>
                    break;
                case NotificationConfigurationType.Lark:
                    <LarkNotification Configuration="@(context.Value.GetCurrentOptions<LarkNotificationOptions>())"/>
                    break;
            }

        </Form>
    </Modal>

    <Table Size="TableSize.Small"
           Loading="_dataSource.IsLoading"
           EnableVirtualization="false"
           TItem="NotificationConfigModel"
           Resizable
           OnChange="OnTableChange"
           DataSource="@_dataSource.ItemsSource"
           PageIndex="@_dataSource.PageIndex"
           PageSize="@_dataSource.PageSize"
           Total="@_dataSource.TotalCount"
           OnPageIndexChange="@_dataSource.OnPaginationEvent"
           OnPageSizeChange="@_dataSource.OnPaginationEvent">
        <TitleTemplate>
            <GridRow Style="margin-bottom:16px">
                <GridCol Span="6">
                    <Title Level="3">通知设置</Title>
                </GridCol>
                <GridCol Span="6" Offset="12">
                    <Search Placeholder="搜索" @bind-Value="@_dataSource.QueryParameters.Keywords" OnSearch="@_dataSource.QueryAsync"/>
                </GridCol>
            </GridRow>
            <GridRow>
                <Space>
                    <SpaceItem>
                        <Button Shape="@ButtonShape.Circle" Icon="@IconType.Outline.Plus" Type="@ButtonType.Primary" OnClick="() => ShowEditForm()"></Button>
                    </SpaceItem>
                    <SpaceItem>
                        <Button Shape="@ButtonShape.Circle" Icon="@IconType.Outline.Reload" Type="@ButtonType.Primary" OnClick="_dataSource.QueryAsync"></Button>
                    </SpaceItem>
                </Space>
            </GridRow>
        </TitleTemplate>
        <ColumnDefinitions>
            <PropertyColumn Title="标志" Sortable="true" Width="100" Property="c => c.Id">
                <Text Ellipsis Copyable Style="max-height:30px;display:flex;flex-direction:row">
                    <div style="overflow: hidden; white-space: nowrap;text-overflow: ellipsis;" title="@context.Id">@context.Id</div>
                </Text>
            </PropertyColumn>
            <PropertyColumn Title="名称" Sortable Property="c => c.Name"></PropertyColumn>
            <PropertyColumn Title="创建时间" Sortable="true" Property="c => c.CreationDateTime"></PropertyColumn>
            <PropertyColumn Title="修改时间" Sortable="true" Property="c => c.ModifiedDateTime"></PropertyColumn>
            <ActionColumn Fixed="right" Width="250" Title="操作">
                <CellRender Context="cellData">
                    <Space>
                        <SpaceItem>
                            <Button Shape="@ButtonShape.Circle" Type="@ButtonType.Primary" Icon="@IconType.Outline.Copy" OnClick="() => ShowEditForm(context.CopyClone<NotificationConfigModel>())"></Button>
                        </SpaceItem>
                        <SpaceItem>
                            <Button Shape="@ButtonShape.Circle" Type="@ButtonType.Primary" Icon="@IconType.Outline.Edit" OnClick="() => ShowEditForm(context.JsonClone<NotificationConfigModel>())"></Button>
                        </SpaceItem>
                        <SpaceItem>
                            <Button Shape="@ButtonShape.Circle" Type="@ButtonType.Primary" Danger Icon="@IconType.Outline.Delete" OnClick="() => DeleteConfig(context)"></Button>
                        </SpaceItem>
                        <SpaceItem>
                            <Button Shape="@ButtonShape.Circle" Type="@ButtonType.Primary" Danger Icon="@IconType.Outline.Notification" OnClick="() => TestNotificationAsync(context)"></Button>
                        </SpaceItem>
                    </Space>
                </CellRender>
            </ActionColumn>
        </ColumnDefinitions>
        <ExpandTemplate>
            <Tabs Animated>
                <TabPane Tab="参数" Key="1">


                </TabPane>
            </Tabs>
        </ExpandTemplate>
    </Table>
</GridContent>

@code {
    string _modalTitle;
    bool _editFormVisible;
    bool _editFormSubmitting;
    bool _editFormConfirmLoading;

    class NotificationConfigurationTypeModel
    {
        public NotificationConfigurationType Type { get; set; }
        public string Name { get; set; }
    }

    List<NotificationConfigurationTypeModel> _types = [];

    Form<NotificationConfigModel> _editForm;
    NotificationConfigModel _editModel = new();

    RoutedPaginationDataSource<NotificationConfigModel, PaginationQueryParameters> _dataSource;

    protected override void OnInitialized()
    {
        _types = new List<NotificationConfigurationTypeModel>
        {
            new()
            {
                Type = NotificationConfigurationType.NotSet,
                Name = "未设置"
            },
            new()
            {
                Type = NotificationConfigurationType.Email,
                Name = "邮件"
            },
            new()
            {
                Type = NotificationConfigurationType.Lark,
                Name = "飞书"
            }
        };

        _dataSource = new RoutedPaginationDataSource<NotificationConfigModel, PaginationQueryParameters>(
            NavigationManager.BaseUri,
            ApiService.QueryNotificationConfigListAsync,
            StateHasChanged);

        _dataSource.ExceptionHandler = OnExepction;
        base.OnInitialized();
    }

    async Task OnExepction(Exception ex)
    {
        await _notice.Open(new NotificationConfig
        {
            Message = "加载失败",
            Description = ex.ToString()
        });
    }

    protected override async Task OnInitializedAsync()
    {
        await _dataSource.RequestAsync();
        await base.OnInitializedAsync();
    }

    void ShowEditForm(NotificationConfigModel? model = null)
    {
        _editFormVisible = true;
        if (model == null)
        {
            _editModel = new NotificationConfigModel
            {
                Id = Guid.NewGuid().ToString()
            };
            _modalTitle = "编辑配置";
        }
        else
        {
            _editModel = model;
            _modalTitle = "新建配置";
        }
    }

    async Task OnEditFormFinish(EditContext editContext)
    {
        try
        {
            var apiResponse = await ApiService.AddOrUpdateAsync(_editModel);
            if (apiResponse.ErrorCode == 0)
            {
                _editFormVisible = false;
                await _dataSource.QueryAsync();
            }
            else
            {
                await _notice.Open(new NotificationConfig
                {
                    Message = "错误提示",
                    Description = apiResponse.Message
                });
            }
        }
        catch (Exception ex)
        {
            await _notice.Open(new NotificationConfig
            {
                Message = "错误提示",
                Description = ex.Message
            });
        }
        finally
        {
            _editFormSubmitting = false;
            _editFormConfirmLoading = false;
        }
    }

    void OnEditFormFinishFailed(EditContext editContext)
    {
        _editFormSubmitting = false;
        _editFormConfirmLoading = false;
    }


    Task<ConfirmResult> ShowConfirmDialogAsync(string title, string content)
    {
        var options = new ConfirmButtonOptions
        {
            Button1Props = new ButtonProps
            {
                ChildContent = "确定",
                Type = ButtonType.Primary
            },
            Button2Props = new ButtonProps
            {
                ChildContent = "取消"
            }
        };
        return _confirmService.Show(
            content,
            title,
            ConfirmButtons.OKCancel,
            ConfirmIcon.Info,
            options);
    }

    async Task DeleteConfig(NotificationConfigModel model)
    {
        try
        {
            if (await ShowConfirmDialogAsync("删除确认", "确定要删除吗？") != ConfirmResult.OK)
            {
                return;
            }

            var apiResponse = await ApiService.RemoveAsync(model);
            if (apiResponse.ErrorCode == 0)
            {
                await _dataSource.QueryAsync();
            }
            else
            {
                await _notice.Open(new NotificationConfig
                {
                    Message = "错误提示",
                    Description = apiResponse.Message
                });
            }
        }
        catch (Exception ex)
        {
            await _notice.Open(new NotificationConfig
            {
                Message = "错误提示",
                Description = "加载配置失败"
            });
        }
    }


    void HandleEditFormCancel(MouseEventArgs e)
    {
        _editFormSubmitting = false;
        _editFormVisible = false;
    }


    void HandleEditFormOk(MouseEventArgs e)
    {
        _editFormSubmitting = true;
        _editForm.Submit();
    }


    async Task OnTableChange(QueryModel<NotificationConfigModel> query)
    {
        _dataSource.QueryParameters.SortDescriptions.Clear();
        foreach (var sortModel in query.SortModel)
        {
            if (sortModel.Sort == null)
            {
                continue;
            }

            _dataSource.QueryParameters.SortDescriptions.Add(new SortDescription(sortModel.FieldName, sortModel.Sort));
        }

        await _dataSource.RequestAsync();
    }

    void OnSelectedConfigurationTypeChanged(NotificationConfigurationType configurationType)
    {
        _editModel.Value.ConfigurationType = configurationType;
    }

    async Task TestNotificationAsync(NotificationConfigModel model)
    {
        await ApiService.InvokeNotificationAsync(model.Id, new InvokeNotificationParameters("test", "test"));
    }

    public void Dispose()
    {
        _dataSource.Dispose();
    }

}