@using NodeService.WebServer.UI.Pages.TaskFlows.Designer.ViewModels
@using System.Threading
@inject ApiService ApiService
@implements IDisposable

<Card Bordered="false" Size="small" Title="@Template.Name">
    <Extra>
        @if (Template.IsEditable)
        {
            <Button Size="@ButtonSize.Small" Shape="@ButtonShape.Circle" Type="@ButtonType.Primary" Icon="@IconType.Outline.PlusCircle" OnClick="@Template.AddTaskStageAsync"></Button>
            <Button Size="@ButtonSize.Small" Shape="@ButtonShape.Circle" Type="@ButtonType.Primary" Icon="@IconType.Outline.Edit" />
        }
    </Extra>
    <Body>
        <Flex Gap="small" Vertical>
            @if (!Template.IsDesignMode)
            {
                <TaskFlowStepsRenderer TaskStages="@Template.TaskStages" TaskStageExecutionInstances="@ExecutionInstance?.Value?.TaskStages" />
            }
            <TaskFlowStageRenderer TaskStages="@Template.TaskStages" TaskStageExecutionInstances="@ExecutionInstance?.Value?.TaskStages" OnTaskStageRemoved="@Template.RemoveTaskStageAsync" />
        </Flex>
    </Body>

</Card>

@code {
    [Parameter]
    public TaskFlowTemplate Template { get; set; }

    [Parameter]
    public TaskFlowExecutionInstanceModel? ExecutionInstance { get; set; }

    System.Threading.Timer _timer;

    protected override void OnParametersSet()
    {
        if (this.Template == null)
        {
            return;
        }
        if (_timer != null)
        {
            _timer.Dispose();
        }
        if (!this.Template.IsDesignMode)
        {
            _timer = new System.Threading.Timer(OnUpdate, null, TimeSpan.FromSeconds(3), TimeSpan.FromSeconds(3));
        }

        base.OnParametersSet();
    }

    async void OnUpdate(object? state)
    {
        try
        {
            if (this.Template.IsDesignMode)
            {
                return;
            }
            if (ExecutionInstance == null)
            {
                return;
            }
            var rsp = await ApiService.QueryTaskFlowExecutionInstanceAsync(ExecutionInstance.Id);
            if (rsp.ErrorCode == 0)
            {
                ExecutionInstance = rsp.Result;
            }
            // await InvokeAsync(() =>
            // {
            //     StateHasChanged();
            // });
        }
        catch (Exception ex)
        {
            
        }

    }

    public void Dispose()
    {
        _timer?.Dispose();
    }

}
