@if (IsEditable)
{
    <Button Shape="@ButtonShape.Circle" Icon="@IconType.Outline.Plus" OnClick="AddNewItem" Type="primary" Style="margin-top:4px;margin-left:4px;margin-bottom:4px;">
    </Button>
    <Button Shape="@ButtonShape.Circle" Danger Icon="@IconType.Outline.Delete" OnClick="RemoveSelectedItems" Type="primary" Style="margin-top:4px;margin-left:4px;margin-bottom:4px;">
    </Button>
}

<Table 
       Context="mappingEntry"
       TItem="StringEntry"
       DataSource="@ItemsSource"
       Size="TableSize.Small"
       SelectedRows="SelectedItems"
       SelectedRowsChanged="@OnSelectedItemsChanged"
       RowKey="x => x.Id">
    <Selection Key="@mappingEntry.Id" Type="checkbox"/>
    <PropertyColumn Hidden="@IsNameHidden" Title="@NameTitle" Property="c => c.Name" Sortable>
        @if (mappingEntry.IsEditing && IsNameEditable)
        {
            if (NameList != null && NameList.Any())
            {
                <Select DataSource="@NameList"
                        @bind-Value="@mappingEntry.Name"
                        TItem="StringEntry"
                        AutoFocus
                        TItemValue="string"
                        LabelName="@nameof(StringEntry.Name)"
                        ValueName="@nameof(StringEntry.Value)"/>
            }
            else
            {
                <Input Type="text" Value="@mappingEntry.Name" ValueChanged="(string value) => OnNameChanged(mappingEntry, value)" AutoFocus="@IsNameEditable"/>
            }
        }
        else if (IsNameEditable)
        {
            <div class="editable-cell-value-wrap" style="padding-right:24px" @onclick="() => mappingEntry.BeginEdit()">
                @(NameList.FirstOrDefault(x=>x.Value== mappingEntry.Name)?.Name??mappingEntry.Name)
            </div>
        }
        else
        {
            <div class="editable-cell-value-wrap" style="padding-right:24px">@mappingEntry.Name</div>
        }
    </PropertyColumn>
    <PropertyColumn Hidden="@IsValueHidden" Title="@ValueTitle" Property="c => c.Value" Sortable>
        @if (mappingEntry.IsEditing && IsValueEditable)
        {
            if (ValueList != null && ValueList.Any())
            {
                <Select DataSource="@ValueList"
                        @bind-value="@mappingEntry.Name"
                        TItem="StringEntry"
                        AutoFocus
                        TItemValue="string"
                        LabelName="@nameof(StringEntry.Name)"
                        ValueName="@nameof(StringEntry.Value)"/>
            }
            else
            {
                <Input Type="text" Value="@mappingEntry.Value" ValueChanged="(string value) => OnValueChanged(mappingEntry, value)" AutoFocus="@(!IsNameEditable && IsValueEditable)"/>
            }
        }
        else if (IsValueEditable)
        {
            <div class="editable-cell-value-wrap" style="padding-right:24px" @onclick="() => mappingEntry.BeginEdit()">
                @mappingEntry.Value
            </div>
        }
        else
        {
            <div class="editable-cell-value-wrap" style="padding-right:24px">@mappingEntry.Value</div>
        }
    </PropertyColumn>
    <PropertyColumn Hidden="@IsTagHidden" Title="@TagTitle" Property="c => c.Tag" Sortable>
        @if (mappingEntry.IsEditing && IsTagEditable)
        {
            <Input Type="text" Value="@mappingEntry.Tag" ValueChanged="(string value) => OnTagChanged(mappingEntry, value)" AutoFocus="@(!IsNameEditable && IsTagEditable)"/>
        }
        else if (IsTagEditable)
        {
            <div class="editable-cell-value-wrap" style="padding-right:24px" @onclick="() => mappingEntry.BeginEdit()">
                @mappingEntry.Tag
            </div>
        }
        else
        {
            <div class="editable-cell-value-wrap" style="padding-right:24px">@mappingEntry.Tag</div>
        }
    </PropertyColumn>
    @if (IsEditable)
    {
        <ActionColumn Fixed="right" Width="100" Title="操作">
            <Space>
                @if (IsNameEditable || IsValueEditable || IsTagEditable)
                {
                    @if (mappingEntry.IsEditing)
                    {
                        <SpaceItem>
                            <Button Shape="@ButtonShape.Circle" Size="small" Type="@ButtonType.Primary" Icon="@IconType.Outline.Save" OnClick="() => OnEndEdit(mappingEntry)"></Button>
                        </SpaceItem>
                    }
                    else
                    {
                        <SpaceItem>
                            <Button Shape="@ButtonShape.Circle" Size="small" Type="@ButtonType.Primary" Icon="@IconType.Outline.Edit" OnClick="() => OnBeginEdit(mappingEntry)"></Button>
                        </SpaceItem>
                    }
                }

                <SpaceItem>
                    <Button Shape="@ButtonShape.Circle" Size="small" Danger Type="@ButtonType.Primary" Icon="@IconType.Outline.Delete" OnClick="() => RemoveSelectedItem(mappingEntry)"></Button>
                </SpaceItem>

            </Space>
        </ActionColumn>
    }

</Table>


@code {


    [Parameter] public IList<StringEntry> ItemsSource { get; set; }


    public IEnumerable<StringEntry> SelectedItems { get; set; } = [];


    [Parameter] public EventCallback<IEnumerable<StringEntry>> SelectedItemsChanged { get; set; }

    [Parameter] public EventCallback<AddingNewItemEventArgs<StringEntry>> AddingNewItem { get; set; }

    [Parameter] public EventCallback<ValueChangedEventArgs<StringEntry,string>> ValueChanged { get; set; }

    [Parameter] public EventCallback<ValueChangedEventArgs<StringEntry,string>> NameChanged { get; set; }

    [Parameter] public EventCallback<ValueChangedEventArgs<StringEntry,string>> TagChanged { get; set; }

    [Parameter] public EventCallback<StringEntry> EndEdit { get; set; }

    [Parameter] public EventCallback<StringEntry> Deleted { get; set; }

    [Parameter] public EventCallback<StringEntry> BeginEdit { get; set; }

    [Parameter] public string NameTitle { get; set; } = "名称";

    [Parameter] public string ValueTitle { get; set; } = "值";

    [Parameter] public string TagTitle { get; set; } = "标签";

    [Parameter] public bool IsNameEditable { get; set; } = true;

    [Parameter] public bool IsValueEditable { get; set; } = true;

    [Parameter] public bool IsNameHidden { get; set; } = false;

    [Parameter] public bool IsValueHidden { get; set; } = false;

    [Parameter] public bool IsTagHidden { get; set; } = true;

    [Parameter] public bool IsTagEditable { get; set; } = false;


    [Parameter] public bool IsEditable { get; set; } = true;

    [Parameter] public IEnumerable<StringEntry> NameList { get; set; } = [];

    [Parameter] public IEnumerable<StringEntry> ValueList { get; set; } = [];

    async Task RemoveSelectedItem(StringEntry value)
    {
        ItemsSource.Remove(value);
        if (Deleted.HasDelegate)
        {
            await Deleted.InvokeAsync(value);
        }
    }

    protected override Task OnParametersSetAsync()
    {
        if (!IsEditable)
        {
            IsNameEditable = false;
            IsValueEditable = false;
            IsTagEditable = false;
        }

        return base.OnParametersSetAsync();
    }

    async Task OnSelectedItemsChanged(IEnumerable<StringEntry> items)
    {
        SelectedItems = items;
        await SelectedItemsChanged.InvokeAsync(items);
    }

    async Task RemoveSelectedItems()
    {
        foreach (var item in SelectedItems)
        {
            ItemsSource.Remove(item);
            if (Deleted.HasDelegate)
            {
                await Deleted.InvokeAsync(item);
            }
        }

        SelectedItems = [];
    }

    async Task AddNewItem()
    {
        var entry = new StringEntry();
        var e = new AddingNewItemEventArgs<StringEntry>(entry);
        await AddingNewItem.InvokeAsync(e);
        if (e.Handled)
        {
            return;
        }

        ItemsSource.Add(entry);
        entry.BeginEdit();
    }


    async Task OnValueChanged(StringEntry stringEntry, string? value)
    {
        var e = new ValueChangedEventArgs<StringEntry, string>(stringEntry, value);
        if (ValueChanged.HasDelegate)
        {
            await ValueChanged.InvokeAsync(e);
        }
        if (!e.Handled)
        {
            stringEntry.Value = value;
        }
    }

    async Task OnNameChanged(StringEntry stringEntry, string? value)
    {
        var e = new ValueChangedEventArgs<StringEntry, string>(stringEntry, value);
        if (NameChanged.HasDelegate)
        {
            await NameChanged.InvokeAsync(e);
        }
        if (!e.Handled)
        {
            stringEntry.Name = value;
        }
    }

    async Task OnTagChanged(StringEntry stringEntry, string? value)
    {
        var e = new ValueChangedEventArgs<StringEntry, string>(stringEntry, value);
        if (TagChanged.HasDelegate)
        {
            await TagChanged.InvokeAsync(e);
        }
        if (!e.Handled)
        {
            stringEntry.Tag = value;
        }
    }

    async Task OnBeginEdit(StringEntry stringEntry)
    {
        if (BeginEdit.HasDelegate)
        {
            await BeginEdit.InvokeAsync(stringEntry);
        }
        else
        {
            stringEntry.BeginEdit();
        }
    }

    async Task OnEndEdit(StringEntry stringEntry)
    {
        if (EndEdit.HasDelegate)
        {
            await EndEdit.InvokeAsync(stringEntry);
        }
        else
        {
            stringEntry.EndEdit();
        }
    }


}