@namespace NodeService.WebServer.UI.Pages.Notifications.Records
@page "/Notifications/Records"
@inject ApiService ApiService
@inject NotificationService _notice
@inject ConfirmService _confirmService
@inject NavigationManager NavigationManager
<GridContent>

    <Space Style="margin-bottom:16px">
        <SpaceItem>
            <Button Type="@ButtonType.Primary" OnClick="@_dataSource.RefreshAsync">刷新</Button>
        </SpaceItem>

    </Space>
    <Table @ref="@_table"
           Size="TableSize.Small"
           Loading="@_dataSource.IsLoading"
           EnableVirtualization="false"
           TItem="NotificationRecordModel"
           Resizable
           OnChange="OnTableChange"
           PageIndex="@_dataSource.PageIndex"
           PageSize="@_dataSource.PageSize"
           Total="@_dataSource.TotalCount"
           OnPageIndexChange="@_dataSource.OnPaginationEvent"
           OnPageSizeChange="@_dataSource.OnPaginationEvent"
           DataSource="@_dataSource.ItemsSource">
        <TitleTemplate>
            <GridRow Style="margin-bottom:16px">
                <GridCol Span="6">
                    <Title Level="3">通知记录</Title>
                </GridCol>
                <GridCol Span="6" Offset="12">
                    <Search Placeholder="搜索" @bind-Value="@_dataSource.QueryParameters.Keywords"
                            OnSearch="@_dataSource.RefreshAsync"/>
                </GridCol>
            </GridRow>
        </TitleTemplate>
        <ColumnDefinitions>
            <PropertyColumn Title="标志" Ellipsis Sortable Property="c => c.Id"></PropertyColumn>
            <PropertyColumn Title="名称" Sortable Property="c => c.Name"></PropertyColumn>
            <PropertyColumn Title="创建时间" Sortable="true" Property="c => c.CreationDateTime"></PropertyColumn>
            <PropertyColumn Title="内容" Sortable="true" Ellipsis Property="c => c.Value"></PropertyColumn>
            <ActionColumn Fixed="right" Width="250" Title="操作">
                <CellRender Context="cellData">
                    <Space>
                    </Space>
                </CellRender>
            </ActionColumn>
        </ColumnDefinitions>
        <ExpandTemplate>
            <Tabs Animated>
                <TabPane Tab="参数" Key="1">


                </TabPane>
            </Tabs>
        </ExpandTemplate>
    </Table>
</GridContent>

@code {
    ITable _table;
    string _searchText;
    string _modalTitle;
    bool _editFormVisible = false;
    bool _editFormSubmitting = false;
    bool _editFormConfirmLoading = false;

    class NotificationConfigurationTypeModel
    {
        public NotificationConfigurationType Type { get; set; }
        public string Name { get; set; }
    }

    List<NotificationConfigurationTypeModel> _types = [];

    bool _loading;
    RoutedPaginationDataSource<NotificationRecordModel, PaginationQueryParameters> _dataSource;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _dataSource = new RoutedPaginationDataSource<NotificationRecordModel, PaginationQueryParameters>(NavigationManager, ApiService.QueryNotificationRecordListAsync, StateHasChanged);
        _dataSource.PageIndex = 1;
        _dataSource.PageSize = 10;
        _dataSource.Request();
    }

    void OnTableChange(QueryModel<NotificationRecordModel> query)
    {
        _dataSource.QueryParameters.SortDescriptions.Clear();
        foreach (var sortModel in query.SortModel)
        {
            if (sortModel.Sort == null)
            {
                continue;
            }

            _dataSource.QueryParameters.SortDescriptions.Add(new SortDescription(sortModel.FieldName, sortModel.Sort));
        }

        _dataSource.Request();
    }


}