@namespace NodeService.WebServer.UI.Pages.Diagnostics.ExceptionCounter
@page "/Diagnostics/ExceptionCounter"
@using NodeService.WebServer.Services.Counters
@inject ApiService ApiService
@inject NotificationService _notice
<Modal Title="异常信息"
       Maximizable
       Width="800"
       Style="top:0px"
       MaxBodyHeight="@("80vh")"
       @bind-Visible="@_visible">
    @_exception
</Modal>
<Space Style="margin-bottom:16px">
    <SpaceItem>
        <Button Type="@ButtonType.Primary" OnClick="@Refresh">刷新</Button>
    </SpaceItem>

</Space>

<Search Placeholder="搜索" @bind-Value="@_searchText" OnSearch="() => _table?.ReloadData()" />

<Table @ref="@_table" Size="TableSize.Small"
       Resizable
       OnChange="(QueryModel<ExceptionEntry> query)=>OnTableChange(query)"
       DataSource="@_dataSource">
    <ColumnDefinitions Context="ctx">
        <PropertyColumn Property="c => c.Exception" Width="auto" Title="异常">
            @if (ctx.Exception != null && ctx.Exception.Length > 50)
            {
                <Text>@ctx.Exception.Substring(0, 50)</Text>

                <Button Type="@ButtonType.Link" OnClick="()=>ShowException(ctx.Exception)">展开</Button>
            }
            else
            {
                @ctx.Exception
            }

        </PropertyColumn>
        <PropertyColumn Property="c => c.Source" Width="200" Title="源头">
        </PropertyColumn>
        <PropertyColumn Property="c => c.Count" Width="100" Title="计数"></PropertyColumn>
    </ColumnDefinitions>
</Table>


@code {
    ITable _table;
    string _searchText;
    bool _visible;
    string _exception;

    IEnumerable<ExceptionEntry> Statistics = [];

    IEnumerable<ExceptionEntry> _dataSource = [];

    protected override async Task OnInitializedAsync()
    {
        await Refresh();
        await base.OnInitializedAsync();
    }

    async Task Refresh()
    {
        try
        {
            var rsp = await ApiService.QueryExceptionStatisticsAsync();
            if (rsp.ErrorCode == 0)
            {
                Statistics = rsp.Result;
                _table?.ReloadData();
            }
        }
        catch (Exception ex)
        {
            await _notice.Open(new NotificationConfig
                {
                    Message = "错误提示",
                    Description = ex.ToString()
                });
        }

    }

    void OnTableChange(QueryModel<ExceptionEntry> query)
    {
        if (Statistics == null || string.IsNullOrEmpty(_searchText))
        {
            _dataSource = Statistics;
            return;
        }

        _dataSource = query.ExecuteQuery(Statistics.AsQueryable()).Where(
            x => (x.Source != null && x.Source.Contains(_searchText, StringComparison.OrdinalIgnoreCase))
                 ||
                 (x.Exception != null && x.Exception.Contains(_searchText, StringComparison.OrdinalIgnoreCase))
        );
    }

    void ShowException(string exception)
    {
        _exception = exception;
        _visible = true;
    }

}