@namespace NodeService.WebServer.UI.Pages.DataQuality.Calendar
@page "/DataQuality/Calendar"
@using Microsoft.Extensions.Caching.Memory
@using NodeService.WebServer.Models
@using NodeService.WebServer.UI.Pages.DataQuality.Components
@inject ApiService ApiService
@inject NotificationService _notice
@inject NavigationManager NavigationManager
@inject ModalService _modalService

<CalendarDateWindow IsVisible="@_isDrawerVisible" DataContext="@_entry" Closed="@OnCalendarDateWindowClosed" />

<GridRow>

    <Space>
        <SpaceItem>
            <Text>指标分类：</Text>
        </SpaceItem>
        <SpaceItem>
            <Select TItem="DataQualityStatisticsDefinitionModel"
                    TItemValue="DataQualityStatisticsDefinitionModel"
                    DataSource="@_categories"
                    Value="@_selectedCategory"
                    LabelName="@nameof(DataQualityStatisticsDefinitionModel.Name)"
                    Placeholder="选择分类"
                    DefaultActiveFirstOption="true"
                    OnSelectedItemChanged="OnSelectedCategoryChanged"
                    Style="width:200px">
            </Select>
        </SpaceItem>
        <SpaceItem>
            <Button Type="@ButtonType.Primary" Icon="@IconType.Outline.Reload" OnClick="QueryCategoriesAsync"></Button>
        </SpaceItem>
    </Space>



</GridRow>


<Calendar DateCellRender="DateCellRender" MonthCellRender="MonthCellRender"  OnChange="OnSelectedDateChangedAsync" />

@code
{
    bool _isDrawerVisible;
    DateTime _selectedDate;
    DataQualityCalendarEntry _entry;
    ConfirmRef _modelRef;

    DataQualityStatisticsDefinitionModel? _selectedCategory;

    IEnumerable<DataQualityStatisticsDefinitionModel> _categories = [];

    protected override void OnInitialized()
    {
        _dataSource = new RoutedPaginationDataSource<DataQualityCalendarEntry, QueryDataQualityStatisticsCalendarParameters>(
        NavigationManager,
        ApiService.QueryDataQualityCalendarEntryListAsync,
        StateHasChanged);
        _dataSource.Completed = OnDataSourceCompleted;
        _dataSource.ExceptionHandler = ExecptionHandler;
        _dataSource.Ready = ReadyAsync;
        base.OnInitialized();
    }

    private async Task ExecptionHandler(Exception ex)
    {
        if (this._modelRef != null)
        {
            await _modalService.DestroyConfirmAsync(_modelRef);
        }
    }

    private Task ReadyAsync()
    {
        RenderFragment content =@<Icon Type="loading" Theme="outline" Style="font-size: 24px" Spin />  ;
        var props = new ConfirmOptions()
            {
                Title = "正在加载",
                Content = content,
                OkButtonProps = new ButtonProps()
                {
                    Disabled = true
                },
            };
        _modelRef = _modalService.Info(props);
        return Task.CompletedTask;
    }

    private async Task OnDataSourceCompleted()
    {
        if (_modelRef != null)
        {
            await _modalService.DestroyConfirmAsync(_modelRef);
        }
    }

    private async Task OnSelectedCategoryChanged(DataQualityStatisticsDefinitionModel? selectedCategory)
    {
        _selectedCategory = selectedCategory;
        await QueryNodeStatisticsRecordListAsync(_selectedDate);
    }

    protected override async Task OnInitializedAsync()
    {
        await QueryCategoriesAsync();
        await QueryNodeStatisticsRecordListAsync(DateTime.Today.Date);
        await base.OnInitializedAsync();
    }

    RoutedPaginationDataSource<DataQualityCalendarEntry, QueryDataQualityStatisticsCalendarParameters> _dataSource;

    private async Task OnSelectedDateChangedAsync(DateTime dateTime)
    {
        await QueryNodeStatisticsRecordListAsync(dateTime);
    }

    async Task QueryNodeStatisticsRecordListAsync(DateTime dateTime)
    {
        try
        {
            if (_selectedCategory == null)
            {
                return;
            }
            _selectedDate = dateTime;
            var previousDateTime = dateTime.AddMonths(-1);
            var nextDateTime = dateTime.AddMonths(1);
            _dataSource.QueryParameters.Name = _selectedCategory.Name;

            _dataSource.QueryParameters.BeginDateTime = new DateTime(previousDateTime.Year, previousDateTime.Month, 1, 0, 0, 0);
            _dataSource.QueryParameters.EndDateTime = new DateTime(
                nextDateTime.Year,
                nextDateTime.Month,
                DateTime.DaysInMonth(nextDateTime.Year, nextDateTime.Month), 0, 0, 0).AddSeconds(-1);
            _dataSource.QueryParameters.PageIndex = 1;
            _dataSource.QueryParameters.PageSize = 100;
            _dataSource.ForceRequest();
        }
        catch (Exception ex)
        {
            await _notice.Open(new NotificationConfig
                {
                    Message = "错误提示",
                    Description = ex.ToString()
                });
        }
    }

    async Task QueryCategoriesAsync()
    {
        try
        {
            PaginationQueryParameters paginationQueryParameters = new PaginationQueryParameters();
            List<DataQualityStatisticsDefinitionModel> categoryList = new List<DataQualityStatisticsDefinitionModel>();
            int pageIndex = 1;
            int pageSize = 20;
            while (true)
            {
                paginationQueryParameters.PageSize = pageSize;
                paginationQueryParameters.PageIndex = pageIndex;
                var rsp = await ApiService.QueryDataQualityStatisticsDefinitionListAsync(paginationQueryParameters);
                if (rsp.ErrorCode == 0)
                {
                    if (rsp.TotalCount == 0 || rsp.TotalCount == categoryList.Count)
                    {
                        break;
                    }
                    categoryList.AddRange(rsp.Result);
                    pageIndex++;
                }
                else
                {
                    await _notice.Open(new NotificationConfig
                            {
                                Message = "错误提示",
                                Description = rsp.Message
                            });
                    break;
                }

            }

            _categories = categoryList;
            _selectedCategory = _categories.FirstOrDefault();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await _notice.Open(new NotificationConfig
                    {
                        Message = "错误提示",
                        Description = ex.ToString()
                    });
        }
    }

    class ListData
    {
        public string type;
        public string content;
    }

    private DataQualityCalendarEntry? GetData(DateTime value)
    {
        foreach (var item in _dataSource.ItemsSource)
        {
            if (item.DateTime.Date == value.Date)
            {
                return item;
            }
        }
        return null;
    }

    private RenderFragment DateCellRender(DateTime value) {
        if (value > DateTime.Today.Date)
        {
            return @<Template></Template>;
        }
        var entry = GetData(value);
        if (entry == null)
        {
            return@<Template><Skeleton Active="true"></Skeleton></Template>;
        }
        if (entry.Entries.Count == 0)
        {
            return @<Template><Alert  Type="@AlertType.Error" ShowIcon="true">无数据</Alert></Template>;
        }
        return @<Template>
                    <ul class="events">
                        <li>
                            <Badge Size="small" Status="@BadgeStatus.Success" Text="@($"完成 {entry.CompletedCount}")" />
                        </li>
                        <li>
                            <Badge Size="small" Status="@BadgeStatus.Processing" Text="@($"{(value.Date==DateTime.Today.Date?"进行中":"未完成")} {entry.InprogressCount}")" />
                        </li>
                        <li>
                            <Badge Size="small" Status="@BadgeStatus.Error" Text="@($"错误 {entry.FaultCount}")" />
                        </li>
                        <li>
                            <Button Size="small" Shape="@ButtonShape.Circle" Type="@ButtonType.Primary" Icon="@IconType.Outline.Table" OnClick="()=>ShowCalendarDateWindow(entry)"></Button>
                        </li>
                    </ul>
                </Template>;
    }

    private RenderFragment MonthCellRender(DateTime value) {

        return @<Template>
                    <div className="notes-month">
                        <section></section>
                        <span></span>
                    </div>
        </Template>
    ;
    }

    private void ShowCalendarDateWindow(DataQualityCalendarEntry entry)
    {
        _isDrawerVisible = true;
        _entry = entry;
    }

    void OnCalendarDateWindowClosed()
    {
        _isDrawerVisible = false;
        _entry = null;
    }

}

<Style>
    .events {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .events li{
        line-height: 1.2
    }

    .events .ant-badge-status {
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        text-overflow: ellipsis;
        font-size: 12px;
    }

    .events .ant-badge-status span{
        font-size:12px;
    }

    .notes-month {
        text-align: center;
        font-size: 28px;
    }

    .notes-month section {
        font-size: 28px;
    }
</Style>