@inject HttpClient HttpClient
@inject NotificationService _notice

<Descriptions Column="5" Layout="@DescriptionsLayout.Vertical" Title="节点信息" Bordered>
    <DescriptionsItem Title="节点名称">@NodeProperties.NodeName</DescriptionsItem>
    <DescriptionsItem Title="上次在线时间">@NodeProperties.LastUpdateDateTime</DescriptionsItem>
    <DescriptionsItem Title="版本">@NodeProperties.Version</DescriptionsItem>
    <DescriptionsItem Title="计算机用户">@NodeProperties.UserName</DescriptionsItem>
    <DescriptionsItem Title="Cpu核心数量">@NodeProperties.ProcessorCount</DescriptionsItem>
    <DescriptionsItem Title="系统版本">@NodeProperties.OSVersion</DescriptionsItem>
    <DescriptionsItem Title="运行时版本">@NodeProperties.RuntimeVersion</DescriptionsItem>
    <DescriptionsItem Title="进程路径">
        <p style="max-width:200px;"> @NodeProperties.ProcessPath</p>
    </DescriptionsItem>
    <DescriptionsItem Title="WorkingSet">@NodeProperties.WorkingSet</DescriptionsItem>
    <DescriptionsItem Title="SystemPageSize">@NodeProperties.SystemPageSize</DescriptionsItem>
    <DescriptionsItem Title="用户域名名称">@NodeProperties.UserDomainName</DescriptionsItem>
    <DescriptionsItem Title="特权进程">@NodeProperties.IsPrivilegedProcess</DescriptionsItem>
    <DescriptionsItem Title="网络可用">@NodeProperties.IsNetworkAvailable</DescriptionsItem>
    <DescriptionsItem Title="系统目录">@NodeProperties.SystemDirectory</DescriptionsItem>
    <DescriptionsItem Title="逻辑驱动器">@NodeProperties.LogicalDrives</DescriptionsItem>
    <DescriptionsItem Title="用户交互模式">@NodeProperties.UserInteractive</DescriptionsItem>
    <DescriptionsItem Title="计算机域名">@NodeProperties.ComputerDomain</DescriptionsItem>
</Descriptions>


@code {
    [Parameter] public NodePropertyModel? NodeProperties { get; set; }


    TypographyEllipsisConfig EllipsisConfig = new()
    {
        Suffix = "更多",
        Rows = 3
    };

}