@namespace NodeService.WebServer.UI.Pages.CommonConfig.NodeEnvVars
@page "/CommonConfig/NodeEnvVars"

@inject NotificationService _notice
@inject ApiService ApiService
@inject ConfirmService _confirmService
@inject NavigationManager NavigationManager
@using NodeService.WebServer.UI.Pages.Components
@implements IDisposable

<GridContent>
    <Modal Title="@_modalTitle"
           Width="800"
           Style="top:0px"
           @bind-Visible="@_editFormVisible"
           ConfirmLoading="@_editFormConfirmLoading"
           OnOk="@HandleEditFormOk"
           OnCancel="@HandleEditFormCancel">
        <Form Model="@_editModel"
              LabelColSpan="4"
              WrapperColSpan="20"
              OnFinish="OnEditFormFinish"
              OnFinishFailed="OnEditFormFinishFailed"
              @ref="@_editForm">
            @if (context == null)
            {
                <Empty/>
            }
            else
            {
                <FormItem Label="名称">
                    <Input @bind-Value="@context.Name"/>
                </FormItem>

                <FormItem Label="节点">
                    <NodeSelector Mode="SelectionMode.Single" @bind-SelectedItems="_selectedNodes"/>
                </FormItem>
                <FormItem Label="环境变量">
                    <StringEntryTable NameTitle="变量名"
                                      ValueTitle="变量值"
                                      ItemsSource="@context.EnvironmentVariables"/>

                </FormItem>
            }
        </Form>
    </Modal>

    <Table @ref="_table"
           Size="TableSize.Small"
           Loading="@_dataSource.IsLoading"
           EnableVirtualization="false"
           TItem="NodeEnvVarsConfigModel"
           DataSource="@_dataSource.ItemsSource"
           Resizable
           OnChange="OnTableChange"
           PageIndex="@_dataSource.PageIndex"
           PageSize="@_dataSource.PageSize"
           Total="@_dataSource.TotalCount"
           OnPageIndexChange="@_dataSource.OnPaginationEvent"
           OnPageSizeChange="@_dataSource.OnPaginationEvent">
        <TitleTemplate>
            <GridRow Style="margin-bottom:16px">
                <GridCol Span="4">
                    <Title Level="3">节点环境配置</Title>
                </GridCol>
                <GridCol Span="6" Offset="18">
                    <Search Placeholder="搜索" @bind-Value="@_dataSource.QueryParameters.Keywords" OnSearch="@_dataSource.RefreshAsync" />
                </GridCol>
            </GridRow>
            <GridRow>
                <Space>
                    <SpaceItem>
                        <Button Shape="@ButtonShape.Circle" Icon="@IconType.Outline.Plus" Type="@ButtonType.Primary" OnClick="() => ShowEditForm()"></Button>
                    </SpaceItem>
                    <SpaceItem>
                        <Button Shape="@ButtonShape.Circle" Icon="@IconType.Outline.Reload" Type="@ButtonType.Primary" OnClick="_dataSource.RefreshAsync"></Button>
                    </SpaceItem>
                </Space>
            </GridRow>
        </TitleTemplate>
        <ColumnDefinitions>
            <PropertyColumn Title="标志" Ellipsis Sortable Property="c => c.Id"></PropertyColumn>
            <PropertyColumn Title="名称" Sortable Property="c => c.Name"></PropertyColumn>
            <ActionColumn Fixed="right" Width="250" Title="操作">
                <CellRender Context="cellData">
                    <Space>
                        <SpaceItem>
                            <Button Shape="@ButtonShape.Circle" Type="@ButtonType.Primary" Icon="@IconType.Outline.Copy" OnClick="() => ShowEditForm(context.CopyClone<NodeEnvVarsConfigModel>())"></Button>
                        </SpaceItem>
                        <SpaceItem>
                            <Button Shape="@ButtonShape.Circle" Type="@ButtonType.Primary" Icon="@IconType.Outline.Edit" OnClick="() => ShowEditForm(context.JsonClone<NodeEnvVarsConfigModel>())"></Button>
                        </SpaceItem>
                        <SpaceItem>
                            <Button Shape="@ButtonShape.Circle" Type="@ButtonType.Primary" Danger Icon="@IconType.Outline.Delete" OnClick="() => DeleteConfig(context)"></Button>
                        </SpaceItem>

                    </Space>
                </CellRender>
            </ActionColumn>
        </ColumnDefinitions>

        <ExpandTemplate>
            <Tabs Animated>
                <TabPane Tab="节点环境变量" Key="1">
                    <StringEntryTable ItemsSource="@context.Data.EnvironmentVariables"
                                      NameTitle="备注"
                                      ValueTitle="目录"
                                      IsEditable="false"/>
                </TabPane>
            </Tabs>
        </ExpandTemplate>
    </Table>
</GridContent>

@code {
    ITable _table;
    string _modalTitle;
    bool _editFormVisible;
    bool _editFormSubmitting;
    bool _editFormConfirmLoading;
    Form<NodeEnvVarsConfigModel> _editForm;
    RoutedPaginationDataSource<NodeEnvVarsConfigModel, PaginationQueryParameters> _dataSource;
    IEnumerable<NodeInfoModel> _selectedNodes;

    protected override void OnInitialized()
    {
        _dataSource = new RoutedPaginationDataSource<NodeEnvVarsConfigModel, PaginationQueryParameters>(
            NavigationManager,
            ApiService.QueryNodeEnvVarsConfigurationListAsync,
            StateHasChanged);
        _dataSource.Request();
        base.OnInitialized();
    }

    IEnumerable<StringEntry> _selectedEntries = [];

    NodeEnvVarsConfigModel _editModel = new();


    async Task ShowEditForm(NodeEnvVarsConfigModel? model = null)
    {
        _editFormVisible = true;
        if (model == null)
        {
            _editModel = new NodeEnvVarsConfigModel
            {
                Id = Guid.NewGuid().ToString()
            };
            _modalTitle = "新建配置";
        }
        else
        {
            _editModel = model;
            var selectedNode = await ApiService.GetNodeInfoAsync(model.Value.NodeId);
            _selectedNodes = selectedNode == null ? [] : [selectedNode];
            _modalTitle = "编辑配置";
        }
    }

    async Task OnEditFormFinish(EditContext editContext)
    {
        try
        {
            foreach (var item in _editModel.EnvironmentVariables)
            {
                item.EndEdit();
            }

            _editModel.Value.NodeId = _selectedNodes?.FirstOrDefault()?.Id;
            var apiResponse = await ApiService.AddOrUpdateAsync(_editModel);
            if (apiResponse.ErrorCode == 0)
            {
                _editFormVisible = false;
                _selectedNodes = [];
                await _dataSource.RefreshAsync();
            }
            else
            {
                await _notice.Open(new NotificationConfig
                {
                    Message = "错误提示",
                    Description = apiResponse.Message
                });
            }
        }
        catch (Exception ex)
        {
            await _notice.Open(new NotificationConfig
            {
                Message = "错误提示",
                Description = "加载配置失败"
            });
        }
        finally
        {
            _editFormSubmitting = false;
            _editFormConfirmLoading = false;
        }
    }

    void OnEditFormFinishFailed(EditContext editContext)
    {
        _editFormSubmitting = false;
        _editFormConfirmLoading = false;
    }

    Task<ConfirmResult> ShowConfirmDialogAsync(string title, string content)
    {
        var options = new ConfirmButtonOptions
        {
            Button1Props = new ButtonProps
            {
                ChildContent = "确定",
                Type = ButtonType.Primary
            },
            Button2Props = new ButtonProps
            {
                ChildContent = "取消"
            }
        };
        return _confirmService.Show(
            content,
            title,
            ConfirmButtons.OKCancel,
            ConfirmIcon.Info,
            options);
    }

    async Task DeleteConfig(NodeEnvVarsConfigModel model)
    {
        try
        {
            if (await ShowConfirmDialogAsync("删除确认", "确定要删除吗？") != ConfirmResult.OK)
            {
                return;
            }

            var apiResponse = await ApiService.RemoveAsync(model);
            if (apiResponse.ErrorCode == 0)
            {
                await _dataSource.RefreshAsync();
            }
            else
            {
                await _notice.Open(new NotificationConfig
                {
                    Message = "错误提示",
                    Description = apiResponse.Message
                });
            }
        }
        catch (Exception ex)
        {
            await _notice.Open(new NotificationConfig
            {
                Message = "错误提示",
                Description = "加载配置失败"
            });
        }
    }


    void HandleEditFormCancel(MouseEventArgs e)
    {
        _editFormVisible = false;
    }


    void HandleEditFormOk(MouseEventArgs e)
    {
        _editFormSubmitting = true;
        _editForm.Submit();
    }

    void OnTableChange(QueryModel<NodeEnvVarsConfigModel> query)
    {
        _dataSource.QueryParameters.SortDescriptions.Clear();
        foreach (var sortModel in query.SortModel)
        {
            if (sortModel.Sort == null)
            {
                continue;
            }

            _dataSource.QueryParameters.SortDescriptions.Add(new SortDescription(sortModel.FieldName, sortModel.Sort));
        }

        _dataSource.Request();
    }

    public void Dispose()
    {
        _dataSource.Dispose();
    }

}