@namespace NodeService.WebServer.UI.Pages.Diagnostics.WebServerCounter
@page "/Diagnostics/WebServerCounter"
@using NodeService.WebServer.Services.Counters
@inject ApiService ApiService
@implements IDisposable

<Space Style="margin-bottom:16px">
    <SpaceItem>
        <Button Type="@ButtonType.Primary" OnClick="@RefreshAsync">刷新</Button>
    </SpaceItem>

</Space>

<Table Size="TableSize.Small" Title="节点健康检查通知统计"
       DataSource="@NodeHealthyCheckNotificationStatistics">
    <ColumnDefinitions Context="ctx">
        <PropertyColumn Property="c => c.Desc" Ellipsis Title="分类"></PropertyColumn>
        <PropertyColumn Property="c => c.Value" Width="200" Title="数值"></PropertyColumn>
    </ColumnDefinitions>
</Table>

<Table Size="TableSize.Small" Title="任务执行"
       DataSource="@TaskExecutionStatistics">
    <ColumnDefinitions Context="ctx">
        <PropertyColumn Property="c => c.Desc" Ellipsis Title="分类"></PropertyColumn>
        <PropertyColumn Property="c => c.Value" Width="200" Title="数值"></PropertyColumn>
    </ColumnDefinitions>
</Table>

<Table Size="TableSize.Small" Title="任务执行报告生产分区偏移"
       DataSource="@TaskExecutionReportProducePartitionOffsetValues">
    <ColumnDefinitions Context="ctx">
        <PropertyColumn Property="c => c.Partition" Width="200" Ellipsis Title="分区"></PropertyColumn>
        <PropertyColumn Property="c => c" Title="值">@ctx</PropertyColumn>
        <PropertyColumn Property="c => c.Message" Title="值">@ctx.Message</PropertyColumn>
    </ColumnDefinitions>
</Table>

<Table Size="TableSize.Small" Title="任务执行报告消费分区偏移"
       DataSource="@TaskExecutionReportConsumePartitionOffsetValues">
    <ColumnDefinitions Context="ctx">
        <PropertyColumn Property="c => c.Partition" Width="200" Ellipsis Title="分区"></PropertyColumn>
        <PropertyColumn Property="c => c" Title="值">@ctx</PropertyColumn>
        <PropertyColumn Property="c => c.Message" Title="值">@ctx.Message</PropertyColumn>
    </ColumnDefinitions>
</Table>

<Table Size="TableSize.Small" Title="心跳"
       DataSource="@HeartBeatStatistics">
    <ColumnDefinitions Context="ctx">
        <PropertyColumn Property="c => c.Desc" Ellipsis Title="分类"></PropertyColumn>
        <PropertyColumn Property="c => c.Value" Width="200" Title="数值"></PropertyColumn>
    </ColumnDefinitions>
</Table>

<Table Size="TableSize.Small" Title="节点服务"
       DataSource="@NodeServiceStatistics">
    <ColumnDefinitions Context="ctx">
        <PropertyColumn Property="c => c.Desc" Ellipsis Title="分类"></PropertyColumn>
        <PropertyColumn Property="c => c.Value" Width="200" Title="数值"></PropertyColumn>
    </ColumnDefinitions>
</Table>

<Table Size="TableSize.Small" Title="任务日志"
       DataSource="@TaskLogStatistics">
    <ColumnDefinitions Context="ctx">
        <PropertyColumn Property="c => c.Desc" Ellipsis Title="分类"></PropertyColumn>
        <PropertyColumn Property="c => c.Value" Width="200" Title="数值"></PropertyColumn>
    </ColumnDefinitions>
</Table>

<Table Size="TableSize.Small" Title="Kafka日志消费"
       DataSource="@KafkaLogConsumeStatistics">
    <ColumnDefinitions Context="ctx">
        <PropertyColumn Property="c => c.Desc" Ellipsis Title="分类"></PropertyColumn>
        <PropertyColumn Property="c => c.Value" Width="200" Title="数值"></PropertyColumn>
    </ColumnDefinitions>
</Table>

<Table Size="TableSize.Small" Title="Kafka日志生产"
       DataSource="@KafkaLogProduceStatistics">
    <ColumnDefinitions Context="ctx">
        <PropertyColumn Property="c => c.Desc" Ellipsis Title="分类"></PropertyColumn>
        <PropertyColumn Property="c => c.Value" Width="200" Title="数值"></PropertyColumn>
    </ColumnDefinitions>
</Table>

<Table Size="TableSize.Small" Title="Kafka日志生产分区偏移"
       DataSource="@KafkaLogProducePartitionOffsetValues">
    <ColumnDefinitions Context="ctx">
        <PropertyColumn Property="c => c.Partition" Width="200" Ellipsis Title="分区"></PropertyColumn>
        <PropertyColumn Property="c => c"  Title="值">@ctx</PropertyColumn>
        <PropertyColumn Property="c => c.Message" Title="值">@ctx.Message</PropertyColumn>
    </ColumnDefinitions>
</Table>

<Table Size="TableSize.Small" Title="Kafka日志消费分区偏移"
       DataSource="@KafkaLogConsumePartitionOffsetValues">
    <ColumnDefinitions Context="ctx">
        <PropertyColumn Property="c => c.Partition" Width="200" Ellipsis Title="分区"></PropertyColumn>
        <PropertyColumn Property="c => c"  Title="值">@ctx</PropertyColumn>
        <PropertyColumn Property="c => c.Message" Title="值">@ctx.Message</PropertyColumn>
    </ColumnDefinitions>
</Table>

<Table Size="TableSize.Small" Title="Kafka延时消息"
       DataSource="@KafkaDelayMessageStatistics">
    <ColumnDefinitions Context="ctx">
        <PropertyColumn Property="c => c.Desc" Ellipsis Title="分类"></PropertyColumn>
        <PropertyColumn Property="c => c.Value" Width="200" Title="数值"></PropertyColumn>
    </ColumnDefinitions>
</Table>

<Table Size="TableSize.Small" Title="Kafka延时队列生产分区偏移"
       DataSource="@KafkaDelayMessageProducePartitionOffsetValues">
    <ColumnDefinitions Context="ctx">
        <PropertyColumn Property="c => c.Partition" Width="200" Ellipsis Title="分区"></PropertyColumn>
        <PropertyColumn Property="c => c" Title="值">@ctx</PropertyColumn>
        <PropertyColumn Property="c => c.Message" Title="值">@ctx.Message</PropertyColumn>
    </ColumnDefinitions>
</Table>

<Table Size="TableSize.Small" Title="Kafka延时队列消费分区偏移"
       DataSource="@KafkaDelayMessageConsumePartitionOffsetValues">
    <ColumnDefinitions Context="ctx">
        <PropertyColumn Property="c => c.Partition" Width="200" Ellipsis Title="分区"></PropertyColumn>
        <PropertyColumn Property="c => c" Title="值">@ctx</PropertyColumn>
        <PropertyColumn Property="c => c.Message" Title="值">@ctx.Message</PropertyColumn>
    </ColumnDefinitions>
</Table>

<Table Size="TableSize.Small" Title="Kafka任务监控事件统计"
       DataSource="@TaskObservationEventStatistics">
    <ColumnDefinitions Context="ctx">
        <PropertyColumn Property="c => c.Desc" Ellipsis Title="分类"></PropertyColumn>
        <PropertyColumn Property="c => c.Value" Width="200" Title="数值"></PropertyColumn>
    </ColumnDefinitions>
</Table>

<Table Size="TableSize.Small" Title="Kafka任务监控事件生产分区偏移"
       DataSource="@TaskObservationEventProducePartitionOffsetValues">
    <ColumnDefinitions Context="ctx">
        <PropertyColumn Property="c => c.Partition" Width="200" Ellipsis Title="分区"></PropertyColumn>
        <PropertyColumn Property="c => c" Title="值">@ctx</PropertyColumn>
        <PropertyColumn Property="c => c.Message" Title="值">@ctx.Message</PropertyColumn>
    </ColumnDefinitions>
</Table>

<Table Size="TableSize.Small" Title="Kafka任务监控事件消费分区偏移"
       DataSource="@TaskObservationEventConsumePartitionOffsetValues">
    <ColumnDefinitions Context="ctx">
        <PropertyColumn Property="c => c.Partition" Width="200" Ellipsis Title="分区"></PropertyColumn>
        <PropertyColumn Property="c => c" Title="值">@ctx</PropertyColumn>
        <PropertyColumn Property="c => c.Message" Title="值">@ctx.Message</PropertyColumn>
    </ColumnDefinitions>
</Table>


@code {
    WebServerCounterSnapshot Snapshot = new();

    IEnumerable<(string Desc, string Value)> TaskExecutionStatistics = [];
    IEnumerable<(string Desc, string Value)> HeartBeatStatistics = [];
    IEnumerable<(string Desc, string Value)> NodeServiceStatistics = [];
    IEnumerable<(string Desc, string Value)> TaskLogStatistics = [];
    IEnumerable<(string Desc, string Value)> KafkaLogConsumeStatistics = [];
    IEnumerable<(string Desc, string Value)> KafkaLogProduceStatistics = [];
    IEnumerable<(string Desc, string Value)> KafkaDelayMessageStatistics = [];
    IEnumerable<(string Desc, string Value)> NodeHealthyCheckNotificationStatistics = [];
    IEnumerable<(string Desc, string Value)> TaskObservationEventStatistics = [];


    IEnumerable<PartitionOffsetValue> TaskExecutionReportConsumePartitionOffsetValues = [];

    IEnumerable<PartitionOffsetValue> TaskExecutionReportProducePartitionOffsetValues = [];

    IEnumerable<PartitionOffsetValue> KafkaDelayMessageConsumePartitionOffsetValues = [];

    IEnumerable<PartitionOffsetValue> KafkaDelayMessageProducePartitionOffsetValues = [];

    IEnumerable<PartitionOffsetValue> KafkaLogConsumePartitionOffsetValues = [];

    IEnumerable<PartitionOffsetValue> KafkaLogProducePartitionOffsetValues = [];

    IEnumerable<PartitionOffsetValue> TaskObservationEventConsumePartitionOffsetValues = [];

    IEnumerable<PartitionOffsetValue> TaskObservationEventProducePartitionOffsetValues = [];

    PeriodicTimer _timer;

    protected override void OnInitialized()
    {
        _timer = new PeriodicTimer(TimeSpan.FromSeconds(3));
        _ = Task.Run(async () =>
        {
            while (await _timer.WaitForNextTickAsync())
            {   
                try
                {
                    await RefreshAsync();
                    await InvokeAsync(this.StateHasChanged);
                }
                catch (Exception ex)
                {

                }
            }
        });
        base.OnInitialized();
    }

    async Task RefreshAsync()
    {
        var rsp = await ApiService.QueryCountersAsync();
        if (rsp.ErrorCode != 0)
        {
            return;
        }
        NodeHealthyCheckNotificationStatistics = GetNodeHealthyCheckNotificationStatistics();
        TaskExecutionStatistics = GetTaskExecutionStatistics();
        TaskObservationEventStatistics = GetTaskObservationEventStatistics();
        HeartBeatStatistics = GetHeartBeatStatistics();
        NodeServiceStatistics = GetNodeServiceStatistics();
        TaskLogStatistics = GetTaskLogStatistics();
        KafkaLogConsumeStatistics = GetKafkaLogConsumeStatistics();
        KafkaLogProduceStatistics = GetKafkaLogProduceStatistics();
        KafkaDelayMessageStatistics = GetKafkaDelayMessageStatistics();
        TaskExecutionReportConsumePartitionOffsetValues = Snapshot.TaskExecutionReportConsumePartitionOffsetDictionary.Values;
        TaskExecutionReportProducePartitionOffsetValues = Snapshot.TaskExecutionReportProducePartitionOffsetDictionary.Values;
        KafkaLogConsumePartitionOffsetValues = Snapshot.KafkaLogConsumePartitionOffsetDictionary.Values;
        KafkaLogProducePartitionOffsetValues = Snapshot.KafkaLogProducePartitionOffsetDictionary.Values;
        KafkaDelayMessageConsumePartitionOffsetValues = Snapshot.KafkaDelayMessageConsumePartitionOffsetDictionary.Values;
        KafkaDelayMessageProducePartitionOffsetValues = Snapshot.KafkaDelayMessageConsumePartitionOffsetDictionary.Values;
        TaskObservationEventConsumePartitionOffsetValues = Snapshot.KafkaTaskObservationEventConsumePartitionOffsetDictionary.Values;
        TaskObservationEventProducePartitionOffsetValues = Snapshot.KafkaTaskObservationEventProducePartitionOffsetDictionary.Values;
    }

    IEnumerable<(string Desc, string Value)> GetTaskExecutionStatistics()
    {
        yield return (nameof(WebServerCounterSnapshot.TaskExecutionReportQueueCount), Snapshot.TaskExecutionReportQueueCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.TaskExecutionReportProcessTimeSpan), Snapshot.TaskExecutionReportProcessTimeSpan.ToString());
        yield return (nameof(WebServerCounterSnapshot.TaskExecutionReportQueryTimeSpan), Snapshot.TaskExecutionReportQueryTimeSpan.ToString());
        yield return (nameof(WebServerCounterSnapshot.TaskExecutionReportSaveTimeSpan), Snapshot.TaskExecutionReportSaveTimeSpan.ToString());
        yield return (nameof(WebServerCounterSnapshot.TaskExecutionReportTotalTimeSpan), Snapshot.TaskExecutionReportTotalTimeSpan.ToString());
        yield return (nameof(WebServerCounterSnapshot.TaskExecutionReportSaveChangesCount), Snapshot.TaskExecutionReportSaveChangesCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.TaskExecutionReportConsumeCount), Snapshot.TaskExecutionReportConsumeCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.TaskExecutionReportProducePersistedCount), Snapshot.TaskExecutionReportProducePersistedCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.TaskExecutionReportProduceNotPersistedCount), Snapshot.TaskExecutionReportProduceNotPersistedCount.ToString());
        yield break;
    }


    IEnumerable<(string Desc, string Value)> GetKafkaLogConsumeStatistics()
    {
        yield return (nameof(WebServerCounterSnapshot.KafkaTaskLogConsumeCount), Snapshot.KafkaTaskLogConsumeCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.KafkaTaskLogConsumeWaitCount), Snapshot.KafkaTaskLogConsumeWaitCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.KafkaTaskLogConsumeContextGroupMaxTimeSpan), Snapshot.KafkaTaskLogConsumeContextGroupMaxTimeSpan.ToString());
        yield return (nameof(WebServerCounterSnapshot.KafkaTaskLogConsumeContextGroupAvgTimeSpan), Snapshot.KafkaTaskLogConsumeContextGroupAvgTimeSpan.ToString());
        yield return (nameof(WebServerCounterSnapshot.KafkaTaskLogConsumeScaleFactor), Snapshot.KafkaTaskLogConsumeScaleFactor.ToString());
        yield return (nameof(WebServerCounterSnapshot.KafkaTaskLogConsumeMaxPrefetchCount), Snapshot.KafkaTaskLogConsumeMaxPrefetchCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.KafkaTaskLogConsumePrefetchCount), Snapshot.KafkaTaskLogConsumePrefetchCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.KafkaTaskLogConsumeTotalTimeSpan), Snapshot.KafkaTaskLogConsumeTotalTimeSpan.ToString());
        yield return (nameof(WebServerCounterSnapshot.KafkaTaskLogConsumeMaxTimeSpan), Snapshot.KafkaTaskLogConsumeMaxTimeSpan.ToString());
        yield break;
    }


    IEnumerable<(string Desc, string Value)> GetKafkaLogProduceStatistics()
    {

        yield return (nameof(WebServerCounterSnapshot.KafkaTaskLogProduceCount), Snapshot.KafkaTaskLogProduceCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.KafkaTaskLogProduceRetryCount), Snapshot.KafkaTaskLogProduceRetryCount.ToString());
        yield break;
    }

    IEnumerable<(string Desc, string Value)> GetHeartBeatStatistics()
    {
        yield return (nameof(WebServerCounterSnapshot.HeartBeatRecieveCount), Snapshot.HeartBeatRecieveCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.HeartBeatQueueCount), Snapshot.HeartBeatQueueCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.HeartBeatMessageConsumeCount), Snapshot.HeartBeatMessageConsumeCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.HeartBeatQueryNodeInfoListTimeSpan), Snapshot.HeartBeatQueryNodeInfoListTimeSpan.ToString());
        yield return (nameof(WebServerCounterSnapshot.HeartBeatUpdateNodeInfoListTimeSpan), Snapshot.HeartBeatUpdateNodeInfoListTimeSpan.ToString());
        yield return (nameof(WebServerCounterSnapshot.HeartBeatQueryNodePropsTimeSpan), Snapshot.HeartBeatQueryNodePropsTimeSpan.ToString());
        yield return (nameof(WebServerCounterSnapshot.HeartBeatSaveNodePropsTimeSpan), Snapshot.HeartBeatSaveNodePropsTimeSpan.ToString());
        yield return (nameof(WebServerCounterSnapshot.HeartBeatTotalProcessTimeSpan), Snapshot.HeartBeatTotalProcessTimeSpan.ToString());
        yield break;
    }

    IEnumerable<(string Desc, string Value)> GetNodeServiceStatistics()
    {
        yield return (nameof(WebServerCounterSnapshot.NodeServiceInputMessagesCount), Snapshot.NodeServiceInputMessagesCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.NodeServiceOutputMessagesCount), Snapshot.NodeServiceOutputMessagesCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.NodeServiceExpiredMessagesCount), Snapshot.NodeServiceExpiredMessagesCount.ToString());
        yield break;
    }

    IEnumerable<(string Desc, string Value)> GetTaskLogStatistics()
    {
        yield return (nameof(WebServerCounterSnapshot.TaskLogUnitEntriesCount), Snapshot.TaskLogUnitEntriesCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.TaskLogUnitCollectLogEntriesTimeSpan), Snapshot.TaskLogUnitCollectLogEntriesTimeSpan.ToString());
        yield return (nameof(WebServerCounterSnapshot.TaskLogUnitRecieveCount), Snapshot.TaskLogUnitRecieveCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.TaskLogUnitSaveTimeSpan), Snapshot.TaskLogUnitSaveTimeSpan.ToString());
        yield return (nameof(WebServerCounterSnapshot.TaskLogUnitQueryTimeSpan), Snapshot.TaskLogUnitQueryTimeSpan.ToString());
        yield return (nameof(WebServerCounterSnapshot.TaskLogUnitSaveMaxTimeSpan), Snapshot.TaskLogUnitSaveMaxTimeSpan.ToString());
        yield return (nameof(WebServerCounterSnapshot.TaskLogUnitQueueCount), Snapshot.TaskLogUnitQueueCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.TaskLogUnitConsumeCount), Snapshot.TaskLogUnitConsumeCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.TaskLogPageDetachedCount), Snapshot.TaskLogPageDetachedCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.TaskLogEntriesSaveCount), Snapshot.TaskLogEntriesSaveCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.TaskLogEntriesSaveTimes), Snapshot.TaskLogEntriesSaveTimes.ToString());
        yield return (nameof(WebServerCounterSnapshot.TaskLogInfoQueryTimeSpan), Snapshot.TaskLogInfoQueryTimeSpan.ToString());
        yield return (nameof(WebServerCounterSnapshot.TaskLogInfoSaveTimeSpan), Snapshot.TaskLogInfoSaveTimeSpan.ToString());
        yield return (nameof(WebServerCounterSnapshot.TaskLogPageCount), Snapshot.TaskLogPageCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.TaskLogHandlerCount), Snapshot.TaskLogHandlerCount.ToString());
        yield break;
    }

    IEnumerable<(string Desc, string Value)> GetKafkaDelayMessageStatistics()
    {
        yield return (nameof(WebServerCounterSnapshot.KafkaDelayMessageTickCount), Snapshot.KafkaDelayMessageTickCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.KafkaDelayMessageScheduleCount), Snapshot.KafkaDelayMessageScheduleCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.KafkaDelayMessageProduceCount), Snapshot.KafkaDelayMessageProduceCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.KafkaDelayMessageConsumeCount), Snapshot.KafkaDelayMessageConsumeCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.KafkaDelayMessageHandledCount), Snapshot.KafkaDelayMessageHandledCount.ToString());
        yield break;
    }

    IEnumerable<(string Desc, string Value)> GetNodeHealthyCheckNotificationStatistics()
    {
        yield return (nameof(WebServerCounterSnapshot.FireNodeHeathyCheckJobDequeueCount), Snapshot.FireNodeHeathyCheckJobDequeueCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.FireNodeHeathyCheckJobEnqueueCount), Snapshot.FireNodeHeathyCheckJobEnqueueCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.NodeHeathyCheckSendEmailCount), Snapshot.NodeHeathyCheckSendEmailCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.NodeHeathyCheckScheduleCount), Snapshot.NodeHeathyCheckScheduleCount.ToString());
        yield break;
    }

    IEnumerable<(string Desc, string Value)> GetTaskObservationEventStatistics()
    {
        yield return (nameof(WebServerCounterSnapshot.TaskObservationEventConsumeCount), Snapshot.TaskObservationEventConsumeCount.ToString());
        yield return (nameof(WebServerCounterSnapshot.TaskObservationEventProducePersistedCount), Snapshot.TaskObservationEventProducePersistedCount.ToString());   }

    public void Dispose()
    {
        _timer.Dispose();
    }
}