@inject ApiService ApiService
@inject NotificationService _notice
@inherits Selector<NodeInfoModel>
<GridRow>
    <Button Shape="@ButtonShape.Circle"
            Icon="@IconType.Outline.Reload"
            OnClick="_dataSource.RefreshAsync"
            Type="primary"
            Style="margin-left:8px;margin-right:8px">
    </Button>
    <Button Shape="@ButtonShape.Circle"
            Icon="@IconType.Outline.Clear"
            OnClick="UnSelectAll"
            Type="primary"
            Style="margin-left:8px;margin-right:8px">
    </Button>
    <Select DataSource="@_nodeSettings.IpAddressMappings"
            Value="@_dataSource.QueryParameters.AreaTag"
            OnSelectedItemChanged="OnSelectedAreaTagChanged"
            TItem="StringEntry"
            Style="width:200px"
            TItemValue="string"
            Size="middle"
            DefaultActiveFirstOption
            LabelName="@nameof(StringEntry.Name)"
            ValueName="@nameof(StringEntry.Tag)"/>
    <RadioGroup Style="margin-left:20px"
                ValueChanged="(NodeStatus status) => OnSelectedStatusChanged(status)"
                Value="@_dataSource.QueryParameters.Status"
                Size="middle">
        <Radio RadioButton Value="@(NodeStatus.All)">全部</Radio>
        <Radio RadioButton Value="@(NodeStatus.Online)">
            <Badge Status="@(NodeStatus.Online.GetBadgeStatus())" Text="在线"/>
        </Radio>
        <Radio RadioButton Value="@(NodeStatus.Offline)">
            <Badge Status="@(NodeStatus.Offline.GetBadgeStatus())" Text="离线"/>
        </Radio>
    </RadioGroup>

</GridRow>

<GridRow>
    <div style="margin:5px 0px;padding:5px;display:block;width:100%;min-height:50px;border:2px dashed dodgerblue;border-radius:8px">
        @if (SelectedItems != null)
        {
            foreach (var item in SelectedItems)
            {
                if (item == null)
                {
                    continue;
                }

                <Tag @key="item.Id" Closable OnClose="() => RemoveSelectedItem(item)">
                    <Badge Status="@(item.Status.GetBadgeStatus())" Text="@item.Name"></Badge>
                </Tag>
            }
        }
    </div>

</GridRow>

<GridRow>

    <Search Placeholder="搜索" @bind-Value="@_dataSource.QueryParameters.Keywords" OnSearch="_dataSource.RefreshAsync"/>
</GridRow>
<GridRow>
    <GridCol Flex=@("auto")>
        <Table Size="TableSize.Small"
               OnChange="(QueryModel<NodeInfoModel> query) => OnTableChanged(query)"
               OnPageIndexChange="@_dataSource.OnPaginationEvent"
               OnPageSizeChange="@_dataSource.OnPaginationEvent"
               PageSize="@_dataSource.PageSize"
               PageIndex="@_dataSource.PageIndex"
               Total="@_dataSource.TotalCount"
               DataSource="@_dataSource.ItemsSource"
               Loading="@_dataSource.IsLoading"
               SelectedRows="@SelectedItems"
               Resizable
               SelectedRowsChanged="(IEnumerable<NodeInfoModel> items) => OnSelectedItemsChanged(items)"
               RowKey="x => x.Id">
            <ColumnDefinitions Context="ctx">
                <Selection Key="@ctx.Id" Type="@GetSelectionMode()"/>
                <PropertyColumn Property="c => c.Id" Ellipsis Sortable Title="标志"></PropertyColumn>
                <PropertyColumn Property="c => c.Name" Ellipsis Sortable Title="节点名称">
                    <Badge Status="@(ctx.Status.GetBadgeStatus())" Text="@ctx.Name"></Badge>
                </PropertyColumn>
                <PropertyColumn Property="c => c.Profile.Usages" Ellipsis Sortable Title="用途"></PropertyColumn>
                <PropertyColumn Property="c => c.Profile.IpAddress" Ellipsis Sortable Title="Ip地址"></PropertyColumn>
            </ColumnDefinitions>
        </Table>
    </GridCol>

</GridRow>


@code {

    NodeSettings _nodeSettings = new();


    PaginationDataSource<NodeInfoModel, QueryNodeListParameters> _dataSource;

    protected override IEnumerable<NodeInfoModel> ItemsSource => _dataSource.ItemsSource;

    protected override void OnInitialized()
    {
        _dataSource = new PaginationDataSource<NodeInfoModel, QueryNodeListParameters>(ApiService.QueryNodeListAsync, StateHasChanged);
        _dataSource.QueryParameters.AreaTag = "*";
        _dataSource.QueryParameters.Status = NodeStatus.All;
        _dataSource.QueryParameters.PageIndex = 1;
        _dataSource.QueryParameters.PageSize = 10;
        base.OnInitialized();
    }

    private void UnSelectAll()
    {
        this.SelectedItems = [];
    }

    protected override async Task OnInitializedAsync()
    {
        await QueryNodeSettingsAsync();
        _dataSource.QueryParameters.AreaTag = "*";
        _dataSource.QueryParameters.Status = NodeStatus.All;
        _dataSource.QueryParameters.Keywords = null;
        _dataSource.QueryParameters.PageIndex = 1;
        await _dataSource.RefreshAsync();
        await base.OnInitializedAsync();
    }

    async Task QueryNodeSettingsAsync()
    {
        try
        {
            var apiResponse = await ApiService.QueryNodeSettingsAsync();
            if (apiResponse.ErrorCode == 0)
            {
                _nodeSettings = apiResponse.Result ?? new NodeSettings();
                _dataSource.QueryParameters.AreaTag = _nodeSettings.IpAddressMappings.FirstOrDefault()?.Tag;
            }
            else
            {
                await _notice.Open(new NotificationConfig
                {
                    Message = "错误提示",
                    Description = apiResponse.Message
                });
            }
        }
        catch (Exception ex)
        {
            await _notice.Open(new NotificationConfig
            {
                Message = "错误提示",
                Description = ex.ToString()
            });
        }
    }

    async Task OnSelectedAreaTagChanged(StringEntry value)
    {
        _dataSource.QueryParameters.AreaTag = value?.Tag;
        await _dataSource.RefreshAsync();
    }

    async Task OnSelectedStatusChanged(NodeStatus status)
    {
        _dataSource.QueryParameters.Status = status;
        await _dataSource.RefreshAsync();
    }


    async Task OnTableChanged(QueryModel<NodeInfoModel> query)
    {
        _dataSource.QueryParameters.SortDescriptions.Clear();
        foreach (var sortModel in query.SortModel)
        {
            if (sortModel.Sort == null)
            {
                continue;
            }

            _dataSource.QueryParameters.SortDescriptions.Add(new SortDescription(sortModel.FieldName, sortModel.Sort));
        }

        await _dataSource.RefreshAsync();
    }

}