@inject NotificationService _notice
@inject ApiService ApiService
@implements IAsyncDisposable
<style type="text/css">
    .taskLogViwer { /* for a specific editor instance */
        height:100%;
        width:100%;
    }
</style>

<Flex Vertical Style="height:100%">
    <Flex Vertical>

        <Space>
            @if (_loading)
            {
                <SpaceItem>
                    <Button Shape="@ButtonShape.Circle"
                            Type="@ButtonType.Primary"
                            Icon="@IconType.Outline.Pause"
                            OnClick="StopAsync">
                    </Button>
                </SpaceItem>
            }
            else
            {
                <SpaceItem>
                    <Button Shape="@ButtonShape.Circle"
                            Type="@ButtonType.Primary"
                            Disabled="@_loadMoreButtonDisabled"
                            Icon="@IconType.Outline.Reload"
                            OnClick="LoadTaskLogsAsync">
                    </Button>
                </SpaceItem>
            }

            <SpaceItem>
                <a href="@($"/api/Tasks/Instances/{TaskExecutionInstanceId}/Log")" target="_blank">
                    <Button Shape="@ButtonShape.Circle" Type="@ButtonType.Primary" Icon="@IconType.Outline.Download">
                    </Button>
                </a>
            </SpaceItem>
        </Space>
        <AntDesign.Progress Percent="@(_loadedLogEntriesCount / (_totalLogEntriesCount + 0d) * 100)" ShowInfo="false"/>

    </Flex>
    <Flex Vertical Style="flex:auto">
        <StandaloneCodeEditor @ref="@_viewer"
                              CssClass="taskLogViwer"
                              OnDidInit="LoadTaskLogsAsync"
                              ConstructionOptions="EditorConstructionOptions"/>
    </Flex>
</Flex>


@code {
    [Parameter] public string TaskExecutionInstanceId { get; set; }


    StandaloneCodeEditor _viewer = null!;
    CancellationTokenSource _cancellationTokenSource;
    bool _loading;
    int _logPageIndex = 1;
    int _loadedLogEntriesCount;
    int _totalLogEntriesCount;
    bool _loadMoreButtonDisabled;

    async Task LoadTaskLogsAsync()
    {
        try
        {
            _loadMoreButtonDisabled = true;
            _loading = true;
            InitCancellationTokenSource();
            await _viewer.UpdateOptions(new EditorUpdateOptions
            {
                ReadOnly = true,
                LineNumbersMinChars = 10
            });

            while (!_cancellationTokenSource.IsCancellationRequested)
            {
                if (!await LoadNextLogPageAsync(_cancellationTokenSource.Token))
                {
                    break;
                }
            }
        }
        catch (TaskCanceledException ex)
        {
            if (ex.CancellationToken != _cancellationTokenSource.Token)
            {
                await _notice.Open(new NotificationConfig
                {
                    Message = "错误提示",
                    Description = ex.ToString()
                });
            }
        }
        catch (Exception ex)
        {
            await _notice.Open(new NotificationConfig
            {
                Message = "错误提示",
                Description = ex.ToString()
            });
        }
        finally
        {
            _loadMoreButtonDisabled = false;
            _loading = false;
            StateHasChanged();
        }
    }

    async Task<bool> LoadNextLogPageAsync(CancellationToken cancellationToken = default)
    {
        var apiResponse = await ApiService.QueryTaskExecutionInstanceLogAsync(TaskExecutionInstanceId,
            new PaginationQueryParameters
            {
                PageIndex = _logPageIndex,
                PageSize = 0
            },
            cancellationToken
        );
        if (apiResponse.ErrorCode == 0)
        {
            var sb = new StringBuilder();

            foreach (var item in apiResponse.Result)
            {
                sb.AppendLine($"{item.DateTimeUtc.ToString(NodePropertyModel.DateTimeFormatString)} {item.Value}");
            }

            var currentLogText = sb.ToString();
            var resultCount = apiResponse.Result.Count();

            var model = await _viewer.GetModel();
            var lineCount = await model.GetLineCount();
            var column = await model.GetLineMaxColumn(lineCount);
            var op = new IdentifiedSingleEditOperation()
                {
                    ForceMoveMarkers = false,
                    Range = new BlazorMonaco.Range(lineCount, column, lineCount, column),
                    Text = currentLogText
                };
            await model.ApplyEdits([op]);
            _logPageIndex = apiResponse.PageIndex + 1;
            _loadedLogEntriesCount = _loadedLogEntriesCount + resultCount;
            _totalLogEntriesCount = apiResponse.TotalCount;
            await InvokeAsync(StateHasChanged);
            return _totalLogEntriesCount - _loadedLogEntriesCount > 0;
        }

        await _notice.Open(new NotificationConfig
        {
            Message = "错误提示",
            Description = apiResponse.Message
        });
        return false;
    }

    StandaloneEditorConstructionOptions EditorConstructionOptions(StandaloneCodeEditor editor)
    {
        return new StandaloneEditorConstructionOptions
        {
            AutomaticLayout = true,
            Language = "plaintext",
            Value = string.Empty
        };
    }

    void InitCancellationTokenSource()
    {
        if (_cancellationTokenSource == null)
        {
            _cancellationTokenSource = new CancellationTokenSource();
        }
        else if (_cancellationTokenSource != null && !_cancellationTokenSource.TryReset())
        {
            _cancellationTokenSource.Dispose();
            _cancellationTokenSource = new CancellationTokenSource();
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (_viewer != null)
        {
            await _viewer.SetValue(string.Empty);
        }

        if (_cancellationTokenSource != null && !_cancellationTokenSource.IsCancellationRequested)
        {
            await _cancellationTokenSource.CancelAsync();
        }

        TaskExecutionInstanceId = null;
        _totalLogEntriesCount = 0;
        _loadedLogEntriesCount = 0;
        _logPageIndex = 0;
    }

    public async Task StopAsync()
    {
        if (!_cancellationTokenSource.IsCancellationRequested)
        {
            await _cancellationTokenSource.CancelAsync();
        }

        _loading = false;
        StateHasChanged();
    }

}